* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lib {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgb(194, 190, 190);
}


.books {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.books__fav,
.books__list,
.books__add {
    padding: 20px;
}

.favorite,
.list,
.add {
    width: 80%;
}

.favorite__title,
.list__title,
.add__title {
    padding-bottom: 10px;
    padding-left: 5px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.favorite__container,
.list__container,
.add__form {
    padding: 15px;
}

.container,
.form {
    width: 100%;
    background-color: #fff;

}

.favorite__book,
.list__book {
    padding: 10px 5px;

}

.book {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 99%;
    background-color: none;
}

.book_active {
    background-color: rgb(255, 225, 225);
}

.book__title {
    font-size: 20px;
    font-weight: bold;
}

.book__title::before {
    content: "- ";
}

.book__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.btn {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 3px 16px;
    font-size: 12px;
    cursor: pointer;
}

.favorite__drop-area,
.list__drop-area {
    padding: 5px;
}

.drop-area {
    background-color: rgba(0, 0, 0, 0.142);
    border: 1px dashed #000;
    text-align: center;
}

.form {
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.add__form {
    position: relative;
}

.form__selfload {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__download {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__text {
    font-style: 24px;
    font-weight: normal;
}

.form__name,
.form__desc {
    width: 100%;
    padding: 5px;
    border: 2px solid #000;
}

.disable {
    display: none;
}

.form__file {
   padding-top: 10px;
   cursor: pointer;
}

.form__btn {
    padding: 5px;
}

.view-area {
    width: 50%;
    height: 85vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(165, 163, 163);
    padding: 10px;
}

.view-area__text {
    font-style: 24px;
    font-weight: normal;
}

.view-area__change-headline,
.view-area__change-text {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid #000;
}

.viev-area__btn {
    width: 92%;
    padding: 8px 0;
}